# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RainyMemory's Workplace\CLionProjects\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
